.listening-exercise {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.q1-exercise-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.available-images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 12px;
  background: #ffffff;
  border: 2px dashed #888;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.btn-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ff4757;
  color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-remove:hover {
  background-color: #c0392b;
  transform: scale(1.1);
}

.btn-remove:active {
  transform: scale(0.95);
  box-shadow: none;
}
.image-card img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

.image-card p {
  margin-top: 5px;
  font-weight: bold;
}

.image-card.dragging {
  opacity: 0.5;
  transform: scale(0.95);
}

.image-card.used {
  opacity: 0.4;
  border-style: solid;
  cursor: not-allowed;
}

.drop-zone-section {
  text-align: center;
  justify-content: center;
  justify-items: center;
}



.drop-zone {
  width: 50%;
  min-height: 150px;
  border: 3px dashed #6a3996;
  background: #faf6ff;
  border-radius: 16px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.drop-hint {
  color: #888;
  font-size: 18px;
}

.ordered-images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.ordered-image-item {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 12px;
  background: #ffffff;
  border: 2px solid #6a3996;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ordered-image-item img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

/* -------- ORDER NUMBER -------- */

.order-number {
  position: absolute;
  top: -10px;
  left: -10px;
  background: #6a3996;
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}



.ordered-image-item {
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}