.popup-overlay {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  background-color: #ffffff;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup-content {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 20px 40px 20px; /* مساحة أكبر للأسفل للأزرار */
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* زر الإغلاق في الأعلى يمين */
.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  z-index: 9999;
}

/* محتوى السؤال والفويس */
.popup-question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* أقصى الشمال */
  gap: 10px;
  width: 100%;
}

/* السؤال */
.question-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin: 0;
  text-align: left;
}

/* الفويس */
.question-audio-player {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  outline: none;
}
