@import "tailwindcss";

body {
  background: rgb(233, 233, 233);
  overflow-x: hidden;
  overflow-y: hidden;
}

.content-wrapper {
  overflow: auto;
}

@media (max-width: 780px) {
  body {
    overflow-y: auto;
  }
}



.selected {
  cursor: pointer;
}

.page_1-background,
.page_2-background,
.page_3-background,
.page_4-background,
.page_5-background,
.page_6-background,
.page_7-background,
.page_8-background,
.page_9-background,
.unit2-page-background {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
}

img {
  height: 85vh;
  width: auto;
}

.nav-btn {
  width: auto;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease;
  padding: 6px;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.08);
  transform: scale(1.07);
}

.nav-btn:active {
  transform: scale(0.9);
  background: rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {

  .page_1-background,
  .page_2-background,
  .page_3-background,
  .page_4-background,
  .page_5-background,
  .page_6-background,
  .page_7-background,
  .page_8-background,
  .page_9-background,
  .unit2-page-background {
    height: 90vh;
  }

  .page-image {
    width: 100%;
    height: auto;
  }
}

.popup-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: auto; 
}

.popup-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.show-answer-btn {
  background-color: #07b6a9 ;
  color: white;
}

.show-answer-btn:hover {
  background-color: #05a197;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 182, 169, 0.3);
}

.check-button2 {
  background-color: #28a745;
  color: white;
}

.check-button2:hover {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
}

.try-again-button {
  background-color: #ffc107;
  color: #212529;
}

.try-again-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}

@media (max-width: 600px) {
  .popup-question-container {
    align-items: flex-start;
  }

  .question-audio-player {
    max-width: 100%;
  }
}